<!DOCTYPE html>
<html lang="en">
<head>
  <title> Tweet Generator </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/styles/style.css?q={{time}}" />
</head>

<body>
  <div class="container">
    <p> {{tweet}} </p>
    <form action="/">
      <button class="btn" formmethod="get"> Generate Tweet </button>
<!--       <button class="btn" formmethod="post"> Favorite </button>
      <button class="btn" formmethod="get" formaction="/favorites"> See All Favorites </button> -->
    </form>

  </div>
</body>

</html>